body{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content:space-evenly
}

h1{
    width: 100%;
    text-align: center;
        font-family: 'Bungee Spice';

}

#app {
    border: 1px solid lightblue;
    border-radius: 10px;
    margin: 20 auto;
    padding: 10px;
    text-align: center;
    width: 70%;
    height: 100%;
}

i{
    color:rgba(255,0,0,0.25)
}

i:hover {
    border:1px solid blue;
    background-color: lightblue;
}

button:hover{
    background-color:rgba(255,255,255,0.50);
    font-weight: bold;
}

#icons{
    display:flex; justify-content:space-around;align-items:center;
}
.hide{
    display: none;
}