body{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1{
    width: 100%;
    text-align: center;
}

#app {
    border: 1px solid lightblue;
    border-radius: 10px;
    margin: 20 auto;
    padding: 10px;
    text-align: center;
    width: 70%;
    height: 100px;
}